# Core SimpleTuner runtime deps
diffusers
transformers
hf_transfer
datasets
wandb
requests
pillow
trainingsample
accelerate
safetensors
compel
clip-interrogator
open-clip-torch
iterutils
scipy
boto3
pandas
botocore
urllib3
torchsde
torchmetrics
colorama
numpy
peft
tensorboard
sentencepiece
optimum-quanto
lycoris-lora @ git+https://github.com/KohakuBlueleaf/LyCORIS@dev
torch-optimi
torchaudio
toml
fastapi[standard]
sse-starlette
atomicwrites
beautifulsoup4
prodigy-plus-schedule-free
tokenizers
huggingface-hub
imageio-ffmpeg
imageio[pyav]
hf-xet
peft-singlora
cryptography
torch
torchvision
torchao